a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

#app {
  width: 100%;
}

#inverse {
  background-color: #A93DFF;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body {
  flex-direction: column;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin-bottom: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #8B8B8B;
}
header nav a:hover {
  color: #333333;
  border-bottom: 1px solid #00ca69;
}

.mainCard {
  width: 100%;
  height: 280px;
  background-color: #00ca69;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainCard .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.mainCard .logo .circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
}
.mainCard .logo h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 33px 5px;
}
.mainCard h1 {
  width: 80%;
  text-align: center;
}

.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.container-btn .pirplebtn {
  background-color: transparent;
  width: 90%;
  padding: 20px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  color: #8B8B8B;
}
.container-btn .pirplebtn:hover {
  background-color: #A93DFF;
  color: white;
  width: 90%;
  padding: 20px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.process .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.process .container .block {
  width: 30%;
  height: 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  background-color: #333333;
  border-radius: 10px;
}
.process .container .block .logo-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.process .container .block .logo-number .circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}
.process .container .block .logo-number .logo {
  padding: 1px 10px;
  color: #333333;
}
.process .container .block h3 {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.process .container .block h4 {
  color: white;
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
