$strokeSecondary:#8B8B8B;
$dark:#333333;
$inverse:#A93DFF;
$buttons:#FFC702;
$main:#00CA69;
$strokeLight:#D4D4D4;
$light:#FAFAFA;

h1, h2, h3, h4, h5 {
  font-weight: 700;
}
h1{
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
}
h2{
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
}
h3{
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}
h4{
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
}
h5{
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
}

BodyM{
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
BodyL{
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
BodyS{
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
  font-weight: 500;
}
CaptionM{
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
CaptionL{
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 16px;
}