@import "default";
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap');

#app {
  width: 100%;
}

body {
  flex-direction: column;
  font-family: 'Exo 2';
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}
header {
  width: 100%;
  padding: 25px 0;
  margin-bottom: 50px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    a{
      width: 120px;
      color: $strokeSecondary;
      padding: 13px 0;
      border-bottom: 2px solid transparent;
      &:hover{
        color: $dark;
        border-bottom: 2px solid $main;
    }
    }
  }
}
.mainCard {
  width: 100%;
  height: 280px;
  background-color: $main;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  h1 {
    width: 80%;
    text-align: center;
  }
}
.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;

  .pirplebtn {
    background-color: transparent;
    width: 95%;
    padding: 20px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    color: $strokeSecondary;
    &:hover{
      background-color: $inverse;
      color: white;
      cursor: pointer;
    }
  }
}
.process {
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    .block{
      width: 30%;
      height: 182px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px 0;
      background-color: #333333;
      border-radius: 10px;
      .logo-number{
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
        h4{
          color: $dark;
        }
      }
      h4{
        color: white;
        margin: 10px 0;
      }
      .CaptionL{
        color: white;
        width: 80%;
      }
    }
  }
}
.about{
  &-title{
    width: 100%;
    background-color: $main;
    margin-bottom: 30px;
    h1{
      padding: 20px 0;
      color: white;
      text-align: center;
    }
  }
  .wrapper{
    .BodyM{
      text-align: center;
      margin-bottom: 30px;
    }
    .cardList{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .cardStatistic{
        width: 262px;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $strokeLight;
        gap: 10px;
        svg{
          margin-top: 25px;
        }
        .BodyM{
          text-align: center;
        }
      }
    }
    h2{
      text-align: center;
    }
    .container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .storyCard{
        padding: 30px 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .storyItem{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 50px;
            .titleYearGreen, .titleYear{
              width: 20%;
              align-items: center;
              color: $light;
              border-radius: 10px;
              padding: 5px;
            }
            .titleYearGreen{
              background-color: $main;
            }
            .titleYear{
              background-color: $dark;
            }
            .green{
              color: $main;
              text-align: center;
            }   
            h4{
              text-align: center;
            }
        }  
      }
    }  
  }

}
.tariffs{
  &-title{
    background-color: $inverse;
    margin-bottom: 50px;
    h1{
      color: $light;
      padding: 20px 0;
      text-align: center;
    } 
  }
  .wrapper{
    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 50px;
      .item {
        width: 22%;
      }
      .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        background-color: $main;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        h3 {
          text-align: center;
          color: $dark;
        }
      }
      .title-none{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 18px 0;
        background-color: transparent;
        line-height: 24px;
      }
      .properties {
        margin-bottom: 30px;
        &-text {
          padding: 10px 0;
          border-bottom: 1px solid $strokeLight;
          .BodyM{
            text-align: center;
          }
        }
        &-text-none{
          padding: 10px 0;
          border-bottom: 1px solid transparent;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .properties-none{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 30px;
        :last-child{
          border-bottom: 1px solid transparent;
        }
        .properties-text{
          width: 85%;
        }
      
      }
    .btn{
      width: 60%;
      margin: 0 auto;
      background-color: $buttons;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      border-radius: 10px;
      &:hover{
        cursor: pointer;
      }
      h3{
        text-align: center;
      }
    }
    .btn-none{
      background-color: transparent;
      line-height: 19px;
    }
  }
  .custom-tariff{
    background-color: $main;
    padding: 30px 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      text-align: center;
      margin-bottom: 40px;
      color: $light;
    }
    .container-tariff{
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $light;
      margin-bottom: 50px;
      .input{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light;
        :first-child{
          margin-bottom: 20px;
        }
        :last-child{
          margin-bottom: 10px;
        }
      }
      }
      .btn{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        border: 1px solid $light;
        border-radius: 5px;
        &:hover{
          cursor: pointer;
        }
        h3{
          color: $light;
        }
    }
  }
  .title-tariff{
    margin-bottom: 50px;
  }
}
}

.contacts{
  margin-bottom: 90px;
  .contacts-title{
    background-color: $dark;
    margin-bottom: 50px;
    h1{
      color: $light;
      padding: 20px 0;
      text-align: center;
    } 
  }
  .wrapper{
    .about-text{
      width: 90%;
      margin-bottom: 50px;
    }
    .form-container{
     
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
      form{
        width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 1px solid $dark;
        border-radius: 20px;
        .form-title{
          margin-bottom: 30px;
        }
        .tabpicker{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin-bottom: 30px;
          .btn-active{
            width: 50%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $active;
            &:hover{
              cursor: pointer;
              transition: 0.4s;
            }
            .BodyM{
              color: $active;
            }
          }
          .btn{
            width: 50%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $strokeLight;
            &:hover{
              cursor: pointer;
              transition: 0.4s;
            }
            .BodyM{
              color: $strokeLight;
            }
          }
        }
        .container-email{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 20px;
          .email{
            width: 86%;
            border: 1px solid $dark;
            border-radius: 0 10px 10px 0;
            .BodyM{
              padding: 10px 0 20px 10px;
            }
          }
        }
        .offer{
          width: 87%;
          height: 120px;
          border: 1px solid $dark;
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 30px;
        }
        .btn-form{
          width: 95%;
          background-color: $buttons;
          padding: 15px 0;
          border-radius: 5px;
          &:hover{
            cursor: pointer;
            transition: 0.4s;
          }
          h3{
            text-align: center;
          }
        }
      }
    }
  }
}

.more{
  .wrapper{
    h1{
      padding: 20px 0;
      text-align: center;
      margin-bottom: 50px;
    }
    .product-container{
      display: flex;
      margin-bottom: 80px;

      
      .productBlockMain, .productBlockDark, .productBlockInverse{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $light;
        .productList{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 30px 20px;
          .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
            h3{
              text-align: center;
            }
            h1{
              margin-top: 50px;
              margin-bottom: 50px;
            }
            .btn{
              width: 90%;
              border: 1px solid $light;
              border-radius: 5px;
              &:hover{
                cursor: pointer;
                transition: 0.4s;
              }
              h3{
                padding: 15px 0;
              }
            }
          }
          
        }
      }
        .productBlockMain{
          background-color: $main;
        }
        .productBlockDark{
          background-color: $dark;
        }
        .productBlockInverse{
          background-color: $inverse;
        }
       
      
    }
    

  }
}
footer{
  background-color: $buttons;
  .wrapper{
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      .menu{
        padding: 10px;
        nav{
          a{
            .BodyM{
              margin-bottom: 10px;
              color: $dark;
            }
          }
        }
      }
      .logo{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;
        h4{
          color: $light;
        }
      }
    }
  }
}



